# OS
.DS_Store
Thumbs.db

# Android
.gradle
/local.properties
**/build/
*.iml

# Backend
node_modules/
target/
*.log

# Env / secrets
.env
*.env
POSTGRES_USER=winery
POSTGRES_PASSWORD=winery123
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# Docker
**/data/
**/volumes/

# PostgreSQL
*.db
postgres-data/
pgdata/

# Keycloak
keycloak-data/

.idea/
**/.idea/


