services:
  postgres:
    image: postgres:18
    container_name: winery-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres-data:
    external: true
    name: 8da43ae6617607cd1659e2d4439a997c18176c27c0ec285c88a9cec788b83982
